.registration-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.registration-form form {
  display: flex;
  flex-direction: column;
}

.registration-form input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.registration-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.registration-form button:hover {
  background-color: #0056b3;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.admin-link {
    margin-left: 80px;
}

.admin{
    color: blue;
}